@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@layer {
    .texColor {
        @apply text-[#3BB77E];
    }
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar { display: none; } /* Chrome/Safari */
  .scrollbar-hidden { 
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .ios-momentum { -webkit-overflow-scrolling: touch; }
}








